{% if header_sticky_option == 'always_sticky' %}
    <byu-header id="header" {%  if full_width == TRUE %}full-width {% endif %} data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 0, "stickySetTop": "0", "stickyChangeLogo": false}'>
{% else %}
    <byu-header id="header"  {%  if full_width == TRUE %}full-width {% endif %} class="" data-plugin-options='{"stickyEnabled": false, "stickyEnableOnBoxed": false, "stickyEnableOnMobile": true, "stickyStartAt": 0, "stickySetTop": "0"}'>
        {% endif %}


        {% if subtitle_above == TRUE %}
            {% if subtitle_use == TRUE %}
                <div slot="site-title" class="subtitle {%  if subtitle_italic == TRUE %}italic {% endif %}" >{{ subtitle_text }}</div>
            {% endif %}
        {% endif %}


        <a slot="site-title" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>

        {% if subtitle_above == FALSE %}
            {% if subtitle_use == true %}
                <div slot="site-title" class="subtitle {%  if subtitle_italic == TRUE %}italic {% endif %}" >{{ subtitle_text }}</div>
            {% endif %}
        {% endif %}

        {% if search_use == TRUE %}
            <byu-search  slot="search" action="click" {% if search_submit == TRUE %} action-target="{{ search_submit }}"{% endif %} {% if search_input == TRUE %} search-input-selector="{{ search_input }}"{% endif %}>
                {#{% if page.content.searchform %}#}
                    {#{{ page.content.searchform }}#}
                {#{% endif %}#}
                {% if page.search %}
                        {{ page.search }}
                {% endif %}


            </byu-search>
        {% endif %}

        {% if menu_disable == FALSE %}
            {#<byu-menu slot="nav" class="{%  if transparent == TRUE %} transparent {% endif %}">#}
            <byu-menu slot="nav" active-selector=".is-active" class="{%  if (transparent == TRUE) or (hero_vs_menu == 'hero-behind-menu') %} transparent {% endif %}">
                {% if page.primary_menu %}
                    {{ page.primary_menu }}
                {% endif %}
            </byu-menu>
        {% endif %}

        {% if page.header_actions %}
            <div slot="actions" class="{{ actions_bg }}">{{ page.header_actions }}</div>
        {% endif %}

        {% if login_use == TRUE %}
            <byu-user-info slot="user">
                {%  if login_url %}
                    <a slot="login" href="{{ login_url }}">Sign In</a>
                {%  else %}
                    <a slot="login" href="../user">Sign In</a>
                {% endif %}
                <!-- if you are using CAS, use the CAS sign out link instead: -->
                <!--      <a slot="logout" href="/caslogout">Sign Out</a>-->
                {%  if logout_url %}
                    <a slot="logout" href="{{ logout_url }}">Sign Out</a>
                {% else %}
                    <a slot="logout" href="../logout">Sign Out</a>
                {% endif %}
                {% if user.account.name %}
                    {% if myaccount_use %}
                        <a href="{{  myaccount_url }}" slot="user-name">{{ user.account.name  }}</a>
                    {% else %}
                        <span slot="user-name">{{ user.account.name  }}</span>
                    {% endif %}
                {% endif %}

            </byu-user-info>
        {% endif %}
                {#<byu-search slot="search">#}
                {#{{ search_form }}#}
                {#</byu-search>#}

    </byu-header>