{#
/**
 * @file
 * Adaptivetheme implementation to display 2x2 grid Layout Plugin layout.
 *
 * Available variables:
 * - content: holds layout regions.
 * - attributes: layout attributes.
#}
{%- set element = html_element|default('div') -%}
<{{- element }}{{ attributes -}}>
  <div class="atl__lr atl__cw">
    {# Row 1 #}
    {% if content.r1c1|render|trim is not empty %}
      <div class="atl__lc lc-r1c1 lc-1">
        {{ content.r1c1 }}
      </div>
    {% endif %}

    {% if content.r1c2|render|trim is not empty %}
      <div class="atl__lc lc-r1c2 lc-2">
        {{ content.r1c2 }}
      </div>
    {% endif %}

    {# Row 2 #}
    {% if content.r2c1|render|trim is not empty %}
      <div class="atl__lc lc-r2c1 lc-3">
        {{ content.r2c1 }}
      </div>
    {% endif %}

    {% if content.r2c2|render|trim is not empty %}
      <div class="atl__lc lc-r2c2 lc-4">
        {{ content.r2c2 }}
      </div>
    {% endif %}
  </div>
</{{ element }}>
