{#
/**
 * @file
 * Default template to display a row.
 *
 * Row templates are output in page.html.twig, which in AT becomes a wrapper and
 * a proxy for loading the correct suggestion layout CSS. The row will output
 * regions.
 *
 * Suggestions:
 *  row--[row name].html.twig
 *  row--[row name]--node-[node type].html.twig
 *
 *  For example:
 *  row--main.html.twig
 *  row--main--node-article.html.twig
 *
 * Available variables:
 * - row_name: the name of the row.
 * - regions: contains regions data to appear in this row.
 * - row_attributes: HTML attributes for the row outer wrapper
 * - wrapper_attributes: HTML attributes for the row inner wrapper.
 * - container_attributes: HTML attributes for the row container.
 * - row_prefix: insert content/markup etc before the row.
 * - row_suffix: insert content/markup etc after the row.
 *
 * @see at_core_preprocess_row()
 */
#}
<div{{ row_attributes }}>
  {{ row_prefix }}
  <div{{ wrapper_attributes }}>
    <div{{ container_attributes }}>
      {{ regions }}
    </div>
  </div>
  {{ row_suffix }}
</div>
